.teamcaddquizbody {
  background: #ebffe5;
}

.teambaddtitle {
  margin-left: 10px;
  background-color: #e0f8d9;
  color: black;
  width: 100%;
  max-width: 480px; /* Limiting maximum width */
}

.teamcadddesc {
  margin-left: 10px;
  margin-top: 10px; /* Added margin-top to align with other elements */
  width: calc(100% - 20px); /* Adjusted width to match teamcaddform with left margin */
  max-width: 100%; /* Allow maximum width to adapt to the container */
  height: 100px;
  background-color: #e0f8d9;
  color: black;
}

.teamcquizbtn,
.teamcquizbtnone,
.teamcquizbtntwo {
  background-color: #165207; /* Green background color */
  color: #fff; /* White text color */
  border-color: #165207; /* Green border color */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  text-align: left; /* Align the text to the left */
  margin-bottom: 20px;
  float: right; /* Align to the right */
}

.teamcquizbtn,
.teamcquizbtnone,
.teamcquizbtntwo {
  width: auto;
}

.teamcpagination {
  background-color: #145a32;
}

.teamcaddform,
.teamcaddpage {
  background-color: #e0f8d9;
  color: black;
}

.teamcaddform:focus,
.teambaddtitle:focus,
.teamcadddesc:focus {
  background-color: #ebffe5;
}
