

/* Add or update the following styles in your CSS */

.c_course_header.card-header {
    display: flex;
    justify-content: space-between;
    background-color: #BCE8B1;
  }

  .c_course_cardbody{
    background-color: #D9FFCF;
  }
  
  .nav-tabs {
    flex-grow: 1;
  }
  
  .courseTabs {
    padding: 0.5rem 1rem;
  }
  


