body {
    background-color: #EBFFE5;
    margin: 0;
    margin-bottom: 20px;
}

h6,
p {
    color: black;
}
h2{
    color: #165207
}
.bx {
    margin-top: 10px;
    margin-right: 10px;
    color: #165207;
}

.d-flex {
    color: #165207;
}

.d-flex:hover {
    color: #5c974e;
}

/* Adjusted color for buttons on hover */
.dropdown:hover .link-muted {
    color: #5c974e;
}

/* Adjusted color for textarea focus */
.form-control:focus {
    border-color: #165207;
    box-shadow: 0 0 0 0.25rem rgba(22, 82, 7, 0.25);
}

.btn-primary {
    background-color: #165207;
    border-color: #165207;
}

.btn-primary:hover {
    background-color: #5c974e;
    border-color: #5c974e;
}

/* Center-aligned container */
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:20px;
  
}

/* Card style */
.card {
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    background-color: #f3f8f2;
}

.card-body {
    padding: 20px;
}

/* 3-dots button style */
.three-dots {
    cursor: pointer;
}

/* Like/Dislike/Reply button style */
.like-button, .dislike-button, .reply-button {
    cursor: pointer;
    color: #165207;
}

.like-button:hover, .dislike-button:hover, .reply-button:hover {
    color: #5c974e;
}

/* Reply textarea style */
#commentContainer {
    display: none;
}

/* Container for each reply */
/* Adjusted styling for nested reply containers */
.reply-container {
background-color: #c3e6cb;
border-radius: 8px;
padding: 10px;
margin-bottom: 5px; /* Adjusted margin to create space between nested reply containers */
margin-left: 5px; /* Adjusted margin to create indentation for nested replies */
position: relative; /* Set position to relative for proper placement of absolute elements */
}

/* Style for the additional reply container */
.additional-reply-container {
position: relative; /* Set position to relative for proper placement of absolute elements */
margin-left: 15px; /* Adjusted left position to create indentation for additional replies */
display: none; /* Hide additional reply container by default */
}

/* Like/Dislike/Reply button style for replies */
.like-button, .dislike-button, .reply-button {
    cursor: pointer;
    color: #165207;
    margin-right: 15px; /* Adjust spacing between buttons */
}

.like-button:hover, .dislike-button:hover, .reply-button:hover {
    color: #5c974e;
}

/* Reply textarea style */
.reply-textarea {
    display: none;
}

/* Style for the return button */
#returnButton {
position: fixed;
bottom: 15px;
left: 15px;
font-size: 24px;
width: 50px;
background-color: #165207;
border-radius: 100px;
}