.c_sidebar_main .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* RESPONSIBLE FOR HIDING MAIN-LAYOUT WHEN USER HAS NOT CLICKED ANYTHING YET */
.c_chapcourse_hidden {
  display: none !important;
}

.c_sidebar_sidebaritems.sidebarItems {
 color: #ffffff;
 white-space: normal;
 cursor: pointer;
 text-align: center;
}

.c_sidebar_sidebaritems.sidebarItems:active,
.c_sidebar_sidebaritems.sidebarItems:focus,
.c_sidebar_sidebaritems.sidebarItems:hover {
  color: #0e3b03;
  background-color: #ffffff;
}



/* mainLayout_styles.css */
.c_chapcourse_mainlayout {
  position: relative;
  z-index: 1;
  margin-left: 20%; /* MOVE CONTENT TO-RIGHT */
  margin-top: 5%; /* MOVE CONTENT TO-BOTTOM */ 
  margin-right: 5%;/* MOVE CONTENT TO-LEFT */
}

.c_sidebar_btnReturn{
  width: 30px;
  height: 30px;
  color: #ffffff;
  transition: transform .1s; /* Animation */
  color: #ffffff;
  margin: 0 auto;
}

.c_sidebar_btnReturn:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}







