/* Sidebar styles */
#c_sidebar_main {
  bottom: 0; /* FOR PULLING THE SIDEBAR DOWNWARDS */
  padding: 70px; /* FOR SIDEBAR HEIGHT */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 50%), 0 5px 15px 0 rgb(0 0 0 / 30%); /* FOR SHADOW EFFECT */
  overflow-y: auto; /* OVERFLOW PROPERTY TO WRAP LONG TEXTS */
  position: fixed;
  z-index: -1; /* Ensure this value is higher than the z-index of mainLayout */
  height: 100%;
  width: 15%; /* Set the width as a percentage */
  background-color: #126912;
  white-space: nowrap;
}

@media (max-width: 991.98px) {  
  #c_sidebar_main {
    width: 100%; /* FULL WIDTH FOR SMALLER SCREENS */
  }
}

/* RESPONSIBLE FOR HIDING MAIN-LAYOUT WHEN USER HAS NOT CLICKED ANYTHING YET */
.c_chapcourse_hidden {
  display: none !important;
}

#c_sidebar_sidebaritems.sidebarItems {
 color: #ffffff;
 white-space: normal;
 cursor: pointer;
 text-align: center;
}

#c_sidebar_sidebaritems.sidebarItems:active,
#c_sidebar_sidebaritems.sidebarItems:focus,
#c_sidebar_sidebaritems.sidebarItems:hover {
  color: #0e3b03;
}

#c_sidebar_sidebarTitle {
  font-size: 200%; /* Adjust the font size as needed */
  color: #ffffff; /* Set the text color */
  white-space: wrap; /* Prevent text wrapping */
  text-align: center;
  align-items: center;
  font-size: 1.7rem !important;
}

/* mainLayout_styles.css */
.c_chapcourse_mainlayout {
  margin-left: 20%; /* MOVE CONTENT TO-RIGHT */
  margin-top: 5%; /* MOVE CONTENT TO-BOTTOM */ 
  margin-right: 5%;/* MOVE CONTENT TO-LEFT */
  z-index: -2;
  position:fixed;
}

.c_sidebar_btnReturn{
  width: 30px;
  height: 30px;
  color: #ffffff;
  transition: transform .1s; /* Animation */
  color: #ffffff;
  margin: 0 auto;
}

.c_sidebar_btnReturn:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}







