
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }

    /* CARD POSITIONING */
.c_cardpreview_cardouter {

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left; 
    max-height: 100%;
}

.c_cardpreview_cardborder {
    max-width: 235px;
    border-radius: ;
}

/* CARD SPACING */
.card-container {
    margin: 10px;
}

.c_slideshow_imgbg {
    background-color: #BCE8B1;
}

.c_slideshow_cardbody {
    background-color: #BCE8B1;
}

.c_slideshow_cardfooter {
    background-color: #BCE8B1;
}

.c_slideshow_cardtitle {
}

.c_slideshow_cardtext {
}

.c_slideshow_cardfootertext {
    
}
  