.TeamD_content {
    display: flex;
    padding: 0 75px;
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
    background: #EBFFE5;
    margin-top: 15px; 
    justify-content: space-between;
}   
/* background-image:none affects the close button fixed 2/2/24 */
.modal-content .btn-close {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"%3e%3cpath d="M4.293 4.293a1 1 0 0 1 1.414 0L8 6.586l2.293-2.293a1 1 0 1 1 1.414 1.414L9.414 8l2.293 2.293a1 1 0 0 1-1.414 1.414L8 9.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L6.586 8 4.293 5.707a1 1 0 0 1 0-1.414z"/%3e%3c/svg%3e');
}

.withSearchBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 500px;
}

.withSearchBar .input-group {
    width: 35% !important;
    height: 30px;
}
/* temporary fix until teamc fixed theirs */
.withSearchBar .form-control:focus{
    background-color: #fff;
}
.withSearchBar .form-control {
    height: 30px;
}

.withSearchBar .input-group .btn-success{
    height: 30px;
}

.TeamD_content h1 {
    color: #5e665b;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.TeamD_content .hr {
    width: 100%;
    height: 1.5px;
    background-color: #5e665b;
}

.certificates {
    margin-top: 50px;
    padding: 0 75px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #EBFFE5;
    gap: 40px;
}

.cert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cert img {
    border-radius: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 15px;
  }

  .cert:hover .overlay {
    opacity: 1;
  }
  
  .buttons button {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 70px;
  }
  .buttons .view {
    background-color: #3498db;
    color: #fff;
    border-radius: 15px;
    border: 1.5px solid #3498db;
  }
  
  .buttons .download {
    background-color: #2ecc71;
    color: #fff;
    border-radius: 15px;
    border: 1.5px solid #2ecc71;
    text-align: center;
  }
  
  .buttons .view:hover {
    background-color: white;
    color: #006384;
    border: 2px solid #006384;
  }

  .buttons .download:hover {
    background-color: white;
    color: #16A765;
    border: 2px solid #16A765;
  }
.cert img {
    width: 329px;
    height: 200px;
}
 /* fixed buttons affected in integration 2/2/24 adjusted width from 30px to 35px*/
.TeamD_icon {
    width: 35px;
    height: 25px;
}
/* fixed button no color/affected by background-color: #e0f8d9 2/1/24 */
.withSearchBar .input-group .btn {
    background-color: #16A765;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
}
/* transfered width above since the name is duplicated 2/1/24 */
/* .withSearchBar .input-group .btn {
    width: 55px;
} */

.withSearchBar .input-group .btn .icon {
    width: 20px;
    height: 20px;
}

.withSearchBar .btn-success:hover {
    background-color: white;
    color: #16A765;
    border: 2px solid #16A765;
}

.certificate_thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 1024px){
    .withSearchBar{
        gap: 200px;
    }
}

@media only screen and (max-width: 768px){
    .withSearchBar{
        flex-direction: column;
        gap: 0;
        margin-bottom: 25px;
    }
    #viewTooltip, #downloadTooltip{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .TeamD_content {
        align-items: center;
    }

    .TeamD_content h1 {
        font-size: 35px;
    }

    .certificates {
        padding: 0 25px;
        padding-bottom: 25px;
        gap: 25px;    
        margin-top: 35px;
    }

    .cert img {
        width: 286px;
        height: 178.67px;
    }

    .withSearchBar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }
    
    .withSearchBar .input-group {
        width: 100% !important;
        height: 25px;
    }
    #viewTooltip, #downloadTooltip{
        display: none;
    }
}

@media only screen and (max-width: 390px) {
    
    .TeamD_content {
        padding: 0 35px;
    }
    .TeamD_content h1 {
        font-size: 35px;
    }

    .withSearchBar .input-group {
        width: 100% !important;
        height: 25px;
    }
    #viewTooltip, #downloadTooltip{
        display: none;
    }
}