/* updated code as of 3/14/24 -jake */

/* Styles for the TeamD_content section */
.TeamD_content {
  display: flex;
  padding: 0 75px; /* Padding on the sides */
  flex-direction: column;
  align-items: center;
  background: #ebffe5; /* Background color */
  margin-top: 15px; /* Margin from the top */
  justify-content: space-between; /* Space between items */
}

.TeamD_content .TeamD_Tab {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  margin-left: 0;
  /* Add additional styles for the .TeanmD_Tab container */
}
.TeamD_content .TeamD_Tab .nav-tabs {
  background-color: white;
  margin-right: 0;
  width: fit-content; /* Set width to fit the content (tabs) */
}

.TeamD_content .TeamD_Tab .nav-tabs .nav-link {
  /* Add styles for individual tabs */
  border-color: transparent !important;
  background-color: transparent !important;
  color: black !important;
}

.TeamD_content .TeamD_Tab .nav-tabs .nav-link.active {
  /* Add styles for the active tab */
  background-color: #02790e !important;
  border-color: transparent !important;
  color: white !important;
}

/* Customize Pagination component */
.pagination-custom {
  background-color: transparent !important;
  border-color: transparent !important;
}

/* Customize active item */
.pagination-custom .page-item.active .page-link {
  background-color: #02790e !important;
  border-color: transparent !important;
  color: white !important;
}
/* Customize page link */
.pagination-custom .page-link {
  background-color: #ffffff !important;
  color: #000000 !important; /* Change text color */
}

/* Styles for the section with search bar */
.withSearchBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 500px; /* Gap between items */
}

/* Styles for input group */
.withSearchBar .input-group {
  width: 35% !important; /* Width of the input group */
  height: 30px; /* Height of the input group */
}

/* Styles for form control */
.withSearchBar .form-control {
  height: 30px; /* Height of the form control */
}

.TeamD_search-input {
  border-radius: 5px !important; /* Adjust the border-radius as needed */
  padding-right: 40px !important; /* Adjust the padding to make space for the icon */
  position: relative !important; /* Set position to relative for absolute positioning of the icon */
  transition: box-shadow 0.3s ease !important; /* Add transition for a smooth hover effect */
  box-shadow: none !important; /* Initial box shadow */
}

.TeamD_search-input:focus {
  border-color: #16a765;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Add box shadow on hover */
}

.TeamD_search-input:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Add box shadow on hover */
}

.TeamD_icon_search_icon-container {
  position: absolute !important; /* Position the icon absolutely within the input field */
  top: 50% !important; /* Adjust the vertical position of the icon */
  right: 10px !important; /* Adjust the horizontal position of the icon */
  transform: translateY(-50%) !important; /* Center the icon vertically */
  cursor: pointer !important; /* Optional: Change cursor on hover for better user experience */
  background: none !important; /* Remove background */
  border: none !important; /* Remove border */
  outline: none !important; /* Remove outline (focus border) */
  padding: 0 !important; /* Remove any padding */
  margin: 0 !important; /* Remove any margin */
  color: gray;
  z-index: 10;
  justify-content: flex-start;
}

.clear-tooltip {
  font-size: 10px !important;
}

.TeamD_icon_clear_search_icon {
  margin-right: 20px;
  color: #000;
  padding: 0;
}

.withSearchBar .form-control::placeholder {
  font-size: 12px;
  color: gray !important;
}

/* Styles for buttons within input group */
.withSearchBar .input-group .btn-success {
  height: 30px; /* Height of the button */
}

/* Styles for h1 within TeamD_content */
.TeamD_content h1 {
  color: #5e665b; /* Text color */
  text-align: center; /* Text alignment */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Text shadow */
  font-size: 35px; /* Font size */
  font-style: normal; /* Font style */
  font-weight: 600; /* Font weight */
  line-height: normal; /* Line height */
}

/* Styles for horizontal rule within TeamD_content */
.TeamD_content .hr {
  width: 100%; /* Full width */
  height: 1.5px; /* Height of the horizontal rule */
  background-color: #5e665b; /* Background color */
}

/* Styles for certificates section */
.certificates {
  margin-top: 50px; /* Margin from the top */
  padding: 0 75px; /* Padding on the sides */
  padding-bottom: 25px; /* Padding at the bottom */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #ebffe5; /* Background color */
  gap: 40px; /* Gap between items */
}

/* Styles for individual certificate */
.cert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/* Styles for certificate image */
.cert img {
  border-radius: 15px; /* Border radius */
}

.TeamD_loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 10px;
}

/* Styles for overlay on certificate hover */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7); /* Overlay background color */
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 15px; /* Border radius */
}

.cert:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

/* Styles for buttons within certificate */
.buttons button {
  margin: 5px; /* Margin around buttons */
  padding: 8px 16px; /* Padding inside buttons */
  border: none; /* No border */
  cursor: pointer; /* Cursor pointer */
  width: 70px; /* Width of buttons */
}

/* Styles for view button */
.buttons .view {
  background-color: #3498db; /* Background color */
  color: #fff; /* Text color */
  border-radius: 15px; /* Border radius */
  border: 1.5px solid #3498db; /* Border */
  text-align: center; /* Text alignment */
}

/* Styles for download button */
.buttons .download {
  background-color: #2ecc71; /* Background color */
  color: #fff; /* Text color */
  border-radius: 15px; /* Border radius */
  border: 1.5px solid #2ecc71; /* Border */
  text-align: center; /* Text alignment */
}

/* Hover styles for view button */
.buttons .view:hover {
  background-color: white; /* Background color */
  color: #006384; /* Text color */
  border: 2px solid #006384; /* Border */
}

/* Hover styles for download button */
.buttons .download:hover {
  background-color: white; /* Background color */
  color: #16a765; /* Text color */
  border: 2px solid #16a765; /* Border */
}

/* Styles for certificate image */
.cert img {
  width: 329px; /* Width of the image */
  height: 200px; /* Height of the image */
}

/* Styles for icons within TeamD_content */
.TeamD_icon {
  width: 25px; /* Width of the icon */
  height: 25px; /* Height of the icon */
}

/* Styles for buttons within input group */
.withSearchBar .input-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for buttons within input group */
.withSearchBar .input-group .btn {
  width: 55px; /* Width of the button */
}

/* Styles for icon within input group button */
.withSearchBar .input-group .btn .icon {
  width: 20px; /* Width of the icon */
  height: 20px; /* Height of the icon */
}

/* Hover styles for success button within input group */
.withSearchBar .btn-success:hover {
  background-color: white; /* Background color */
  color: #16a765; /* Text color */
  border: 2px solid #16a765; /* Border */
}

/* Styles for certificate thumbnail */
.certificate_thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TeamD_certificate_courseTitle {
  padding-top: 10px;
  color: #5e665b;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Styles for no certificates message */
.no-certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Gap between items */
  font-size: 18px; /* Font size */
}

/* Styles for image within no certificates message */
.no-certificates img {
  width: 80%; /* Width of the image */
}

@media only screen and (max-width: 1024px) {
  .withSearchBar {
    gap: 200px; /* Gap between items */
  }
}

@media only screen and (max-width: 768px) {
  .TeamD_content .TeamD_Tab {
    display: flex;
    justify-content: center;
    /* Add additional styles for the .TeanmD_Tab container */
  }
  .withSearchBar {
    flex-direction: column; /* Change to column layout */
    gap: 0; /* No gap between items */
    margin-bottom: 25px; /* Margin at the bottom */
  }

  .no-certificates img {
    width: 80%; /* Width of the image */
  }
}

@media only screen and (max-width: 600px) {
  /* Responsive styles for TeamD_content */
  .TeamD_content .TeamD_Tab {
    display: flex;
    justify-content: center;
    /* Add additional styles for the .TeanmD_Tab container */
  }
  .TeamD_content {
    align-items: center; /* Center alignment */
  }

  .TeamD_content h1 {
    font-size: 35px; /* Font size */
  }

  .certificates {
    padding: 0 25px; /* Padding on the sides */
    padding-bottom: 25px; /* Padding at the bottom */
    gap: 25px; /* Gap between items */
    margin-top: 35px; /* Margin from the top */
  }

  .cert img {
    width: 286px; /* Width of the image */
    height: 178.67px; /* Height of the image */
  }

  .withSearchBar {
    flex-direction: column; /* Change to column layout */
    justify-content: center; /* Center alignment */
    align-items: center; /* Center alignment */
    margin-bottom: 25px; /* Margin at the bottom */
  }

  .withSearchBar .input-group {
    width: 100% !important; /* Full width */
    height: 25px; /* Height of the input group */
  }
}

@media only screen and (max-width: 390px) {
  .TeamD_content .TeamD_Tab {
    display: flex;
    justify-content: center;
    /* Add additional styles for the .TeanmD_Tab container */
  }
  .TeamD_content {
    padding: 0 35px; /* Padding on the sides */
  }
  .TeamD_content h1 {
    font-size: 35px; /* Font size */
  }

  .withSearchBar .input-group {
    width: 100% !important; /* Full width */
    height: 25px; /* Height of the input group */
  }
}
