/* Styles for the verification container */
.verification_container {
    padding: 15px 75px 0 75px; /* Padding for the container */
    display: flex; /* Display as flex container */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    flex-direction: column; /* Arrange items in a column */
    gap: 60px; /* Spacing between children */
}
/* Additional styles for the verification container */
.verification_container {
    position: relative; /* Positioning context for children */
  }
  /* Styles for the title, search, and table within the verification container */
  .verification_title,
  .verification_search,
  .verification_table {
    position: absolute; /* Positioning for these elements */
    width: 100%; /* Full width */
  }
  /* Styles for the title within the verification container */
  .verification_title {
    top: 0; /* Positioned at the top */
    background-color: #BCE8B1; /* Set your desired background color */
    display: flex; /* Display as flex container */
    align-items: flex-start; /* Align items to the start */
    justify-content: center; /* Center items horizontally */
    padding-top: 15px; /* Top padding */
    height: 191px; /* Fixed height */
  }
/* Styles for the search section within the verification container */
.verification_search {
    bottom: -360px; /* Positioned at the bottom */
    display: flex; /* Display as flex container */
    flex-direction: row; /* Arrange items in a row */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    width: 75%; /* Set width */
    height: 285px; /* Fixed height */
    border-radius: 15px; /* Rounded corners */
}
/* Styles for the left side of the search section */
.left {
    display: flex; /* Display as flex container */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 30px; /* Spacing between children */
    flex-direction: column; /* Arrange items in a column */
    background-color: #fff; /* Background color */
    padding: 30px; /* Padding */
    width: 50%; /* Set width */
    height: 100%; /* Full height */
    border-top-left-radius: 15px; /* Rounded top-left corner */
    border-bottom-left-radius: 15px; /* Rounded bottom-left corner */
}
/* Styles for the right side of the search section */
.right {
    display: flex; /* Display as flex container */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 10px; /* Spacing between children */
    flex-direction: column; /* Arrange items in a column */
    background-color: #0E3B03; /* Background color */
    padding: 30px; /* Padding */
    width: 50%; /* Set width */
    height: 100%; /* Full height */
    color: #fff; /* Text color */
    border-top-right-radius: 15px; /* Rounded top-right corner */
    border-bottom-right-radius: 15px; /* Rounded bottom-right corner */
}
/* added background color for several labels */
.right .nameVerification .form-control:focus{
    background-color: #fff;
}
.right .serialVerification .form-control:focus{
    background-color: #fff;
}
/* Styles for the name verification section */
.nameVerification {
    display: flex; /* Display as flex container */
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Center items vertically */
    align-items: flex-start; /* Align items to the start */
    width: 75%; /* Set width */
}
/* Styles for the serial verification section */
.serialVerification {
    display: flex; /* Display as flex container */
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Center items vertically */
    align-items: flex-start; /* Align items to the start */
    width: 75%; /* Set width */
    
}
/* added background color 2/5/24 */
.verification_search .left .form-control:focus{
    background-color: #fff;
}

.verification_search .left h2 {
    color: #0E3B03;
}

.verification_search .left .form-control {
    width: 75%;
    height: 45px;
} 

.verification_search .verify {
    background-color: #2ecc71;
    color: #fff;
    border-radius: 15px;
    border: 1.5px solid #2ecc71;
    text-align: center;
    width: 95px;
}

.verification_search .verify:hover {
    background-color: white;
    color: #16A765;
    /* outline: #16A765 solid 2px; */
    border: #16A765 solid 1.5px;
}

.verification_search .verify:active {
    background-color: #2ecc71 !important;
    color: #fff;
    border: 1.5px solid #2ecc71 !important;
}

.serialVerification .icon {
    color: #2ecc71;
    width: 20px;
    height: 20px;
}

  @media only screen and (max-width: 425px) and (min-width: 320px) {
    .verification_search {
        bottom: -400px ;
        flex-direction: column;
        width: 100%;
    }

    .verification_search .left {
        width: 75%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
        gap: 10px;
    }

    .verification_search .right {
        width: 75%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        justify-content: center;
        align-items: center;
    }

    .verification_search .right .form-label {
        font-size: 12px;
    }

    .verification_search .left h2 {
        font-size: 12px;
    }

    .verification_search h2 {
        font-size: 18px;
        gap: 15px;
    }

    .verification_search .left .form-control {
        width: 100%;
        height: 20px;
    } 
  }
  /* Media query for medium-sized screens */
  @media only screen and (max-width: 768px) and (min-width: 425px) {
    /* Adjustments for the search section */
    .verification_search {
        bottom: -405px; /* Adjusted position */
        flex-direction: column; /* Arrange items in a column */
        width: 100%; /* Full width */
    }
    /* Adjustments for the left side of the search section */
    .verification_search .left {
        width: 75%; /* Set width */
        border-bottom-left-radius: 0; /* Remove border radius */
        border-top-right-radius: 15px; /* Rounded top-right corner */
        gap: 10px; /* Spacing between children */
    }
    /* Adjustments for the right side of the search section */
    .verification_search .right {
        width: 75%; /* Set width */
        border-top-right-radius: 0; /* Remove border radius */
        border-bottom-left-radius: 15px; /* Rounded bottom-left corner */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
    }
    /* Adjustments for labels and inputs */
    .verification_search .right .form-label {
        font-size: 12px;
    }

    .verification_search .left h2 {
        font-size: 16px;
    }

    .verification_search h2 {
        font-size: 18px; /* Font size */
        gap: 15px; /* Spacing between elements */
    }

    .verification_search .left .form-control {
        width: 100%; /* Full width */
        height: 20px; /* Spacing between elements */
    }

  }

  .verification_container .right .error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .verification_container .right .error-message img {
    width: 20%;
  }
  /* Media query for large-sized screens */
  @media only screen and (max-width: 1024px) and (min-width: 769px) {
    /* Adjustments for font size */
    .verification_search .left h2 {
        font-size: 23px;
    }
  }
  /* Media query for extra-large screens */
  @media only screen and (max-width: 1439px) and (min-width: 1025px) {
    .verification_search .left h2 {
        font-size: 28px;
    }
  }
