/* Styles for verification container */
.verification_container {
    padding: 15px 75px 0 75px; /* Padding */
    display: flex; /* Display as flex */
    align-items: center; /* Align items */
    justify-content: center; /* Justify content */
    flex-direction: column; /* Column layout */
    gap: 60px; /* Gap between elements */
}

/* Positioning styles for verification container and its children */
.verification_container {
    position: relative; /* Relative positioning */
    z-index: -1000;
}
  
.verification_title,
.verification_search,
.verification_table {
    position: absolute; /* Absolute positioning */
    width: 100%; /* Full width */
}

/* Styles for verification title */
.verification_title {
    top: 0; /* Align to the top */
    background-color: #BCE8B1; /* Background color */
    display: flex; /* Display as flex */
    align-items: flex-start; /* Align items */
    justify-content: center; /* Justify content */
    padding-top: 15px; /* Padding */
    height: 191px; /* Height */
}

/* Styles for verification search container */
.verification_search {
    bottom: -360px; /* Align to the bottom */
    display: flex; /* Display as flex */
    flex-direction: row; /* Row layout */
    align-items: center; /* Align items */
    justify-content: center; /* Justify content */
    width: 75%; /* 75% width */
    height: 285px; /* Height */
    border-radius: 15px; /* Border radius */
}

/* Styles for left section of verification search */
.left {
    display: flex; /* Display as flex */
    justify-content: center; /* Justify content */
    align-items: center; /* Align items */
    gap: 30px; /* Gap between elements */
    flex-direction: column; /* Column layout */
    background-color: #fff; /* Background color */
    padding: 30px; /* Padding */
    width: 50%; /* 50% width */
    height: 100%; /* Height */
    border-top-left-radius: 15px; /* Border radius */
    border-bottom-left-radius: 15px; /* Border radius */
}

/* Styles for right section of verification search */
.right {
    display: flex; /* Display as flex */
    justify-content: center; /* Justify content */
    align-items: center; /* Align items */
    gap: 20px; /* Gap between elements */
    flex-direction: column; /* Column layout */
    background-color: #0E3B03; /* Background color */
    padding: 30px; /* Padding */
    width: 50%; /* 50% width */
    height: 100%; /* Height */
    color: #fff; /* Text color */
    border-top-right-radius: 15px; /* Border radius */
    border-bottom-right-radius: 15px; /* Border radius */
}

/* Styles for name verification section */
.nameVerification {
    display: flex; /* Display as flex */
    flex-direction: column; /* Column layout */
    justify-content: center; /* Justify content */
    align-items: flex-start; /* Align items */
    width: 75%; /* 75% width */
}

/* Styles for serial verification section */
.serialVerification {
    display: flex; /* Display as flex */
    flex-direction: column; /* Column layout */
    justify-content: center; /* Justify content */
    align-items: flex-start; /* Align items */
    width: 75%; /* 75% width */
}

/* Additional styles for search section */
.verification_search .left h2 {
    color: #0E3B03; /* Text color */
}

/* Styles for form control in search section */
.verification_search .left .form-control {
    width: 75%; /* 75% width */
    height: 45px; /* Height */
} 

/* Styles for verify button in search section */
.verification_search .verify {
    background-color: #2ecc71; /* Background color */
    color: #fff; /* Text color */
    border-radius: 15px; /* Border radius */
    border: 1.5px solid #2ecc71; /* Border */
    text-align: center; /* Text alignment */
    width: 95px; /* Width */
}

/* Hover styles for verify button */
.verification_search .verify:hover {
    background-color: white; /* Background color on hover */
    color: #16A765; /* Text color on hover */
    border: #16A765 solid 1.5px; /* Border on hover */
}

/* Active styles for verify button */
.verification_search .verify:active {
    background-color: #2ecc71 !important; /* Background color on active */
    color: #fff; /* Text color on active */
    border: 1.5px solid #2ecc71 !important; /* Border on active */
}

/* Styles for icon in serial verification */
.serialVerification .icon {
    color: #2ecc71; /* Icon color */
    width: 20px; /* Width */
    height: 20px; /* Height */
}

/* Media query for small screens */
@media only screen and (max-width: 425px) and (min-width: 320px) {
    /* Adjustments for search section on small screens */
    .verification_search {
        bottom: -400px ; /* Positioning */
        flex-direction: column; /* Column layout */
        width: 100%; /* Full width */
    }

    /* Adjustments for left section on small screens */
    .verification_search .left {
        width: 75%; /* 75% width */
        border-bottom-left-radius: 0; /* Border radius */
        border-top-right-radius: 15px; /* Border radius */
        gap: 10px; /* Gap between elements */
    }

    /* Adjustments for right section on small screens */
    .verification_search .right {
        width: 75%; /* 75% width */
        border-top-right-radius: 0; /* Border radius */
        border-bottom-left-radius: 15px; /* Border radius */
        justify-content: center; /* Justify content */
        align-items: center; /* Align items */
    }

    /* Font size adjustments for small screens */
    .verification_search .right .form-label {
        font-size: 12px; /* Font size */
    }

    .verification_search .left h2 {
        font-size: 12px; /* Font size */
    }

    .verification_search h2 {
        font-size: 18px; /* Font size */
        gap: 15px; /* Gap between elements */
    }

    /* Width adjustments for form control on small screens */
    .verification_search .left .form-control {
        width: 100%; /* Full width */
        height: 20px; /* Height */
        margin-bottom: 1rem;
    } 
    .verification_search .verify{
        margin-top: 5px;
    }
}

/* Media query for medium screens */
@media only screen and (max-width: 768px) and (min-width: 425px) {
    /* Adjustments for search section on medium screens */
    .verification_search {
        bottom: -405px; /* Positioning */
        flex-direction: column; /* Column layout */
        width: 100%; /* Full width */
    }

    /* Adjustments for left section on medium screens */
    .verification_search .left {
        width: 75%; /* 75% width */
        border-bottom-left-radius: 0; /* Border radius */
        border-top-right-radius: 15px; /* Border radius */
        gap: 10px; /* Gap between elements */
    }

    /* Adjustments for right section on medium screens */
    .verification_search .right {
        width: 75%; /* 75% width */
        border-top-right-radius: 0; /* Border radius */
        border-bottom-left-radius: 15px; /* Border radius */
        justify-content: center; /* Justify content */
        align-items: center; /* Align items */
    }

    /* Font size adjustments for medium screens */
    .verification_search .right .form-label {
        font-size: 12px; /* Font size */
    }

    .verification_search .left h2 {
        font-size: 16px; /* Font size */
    }

    .verification_search h2 {
        font-size: 18px; /* Font size */
        gap: 15px; /* Gap between elements */
    }

    /* Width adjustments for form control on medium screens */
    .verification_search .left .form-control {
        width: 100%; /* Full width */
        height: 20px; /* Height */
        margin-bottom: 1rem;
    }
    .verification_search .verify{
        margin-top: 5px;
    }
    
}

/* Additional styles for error message in right section */
.verification_container .right .error-message {
    display: flex; /* Display as flex */
    justify-content: center; /* Justify content */
    align-items: center; /* Align items */
    flex-direction: column; /* Column layout */
    gap: 20px; /* Gap between elements */
    text-align: center; /* Text alignment */
}

/* Styles for error message image */
.verification_container .right .error-message img {
    width: 20%; /* Width */
}

/* Media query for large screens */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    /* Font size adjustments for large screens */
    .verification_search .left h2 {
        font-size: 23px; /* Font size */
    }
}

/* Media query for extra-large screens */
@media only screen and (max-width: 1439px) and (min-width: 1025px) {
    /* Font size adjustments for extra-large screens */
    .verification_search .left h2 {
        font-size: 28px; /* Font size */
    }
}
