.contentViewPdf {
    display: flex;
    padding: 0 75px;
    flex-direction: column;
    align-items: center;
    background-color: #EBFFE5;
    margin-top: 15px;
}

.headerView {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.headerView h1 {
    color: #5e665b;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
}

.headerView .hr_view {
    width: 100%;
    height: 1.5px;
    background-color: #5e665b;
}

.certificatesView {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #BCE8B1;
    border-radius: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.certificatesView .control_top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
    margin-top: 10px;
}

.certificatesView .control_top button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #EBFFE5;
}

.certificatesView .control_top button:hover {
    color: #0e3b03;
}

.certificatesView .control {
    margin-bottom: 10px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.certificatesView .control button {
    height: 50px;
    width: 100px;
}

.certificatesView .control .modalBTN {
    background-color: #3498db;
    color: #fff;
    border-radius: 15px;
    border: 1.5px solid #3498db;
    text-align: center;
}

.certificatesView .control .TeamD_modal_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificatesView .control .TeamD_modal_btn .modalBTN:hover {
    background-color: white;
    color: #006384;
    /* border: 2px solid #006384; */
    outline: #006384 solid 2px;
}

.certificatesView .control .download_View .downloadBTN {
    background-color: #2ecc71;
    color: #fff;
    border-radius: 15px;
    border: 1.5px solid #2ecc71;
    text-align: center;
}

.certificatesView .control .download_View .downloadBTN:hover {
    background-color: white;
    color: #16A765;
    outline: #16A765 solid 2px;
}


.certificatesView .filePdfView .react-pdf__Page .react-pdf__Page__canvas{
    margin-top: 30px;    
    width: 741px !important;
    height: 495px !important;
    
}

.goBack_title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.goBack_title .goBack {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50px;
    padding: 8px;
    border: #5e665b solid 2px;
}

.goBack_title .goBack:hover {
    color: #BCE8B1;
    background-color: #0e3b03;
}

.download_View button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.TeamD_modal_btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

@media only screen and (max-width: 1240px){
    .certificatesView .filePdfView .react-pdf__Page .react-pdf__Page__canvas {
        width: 100% !important;
        height: auto !important;
        max-width: 100% !important;
        max-height: 100% !important;
    }
}

@media only screen and (max-width: 768px) and (min-width: 425px){
    .certificatesView .filePdfView .react-pdf__Page .react-pdf__Page__canvas {
        width: 100% !important;
        height: auto !important;
        max-width: 100% !important;
        max-height: 100% !important;
    }
    
    .certificatesView {
        background-color: transparent;
    }

    
    .contentViewPdf {
        padding: 20px;
    }
    #goBackTooltip, #criteriaTooltip, #downloadTooltip{
        display: none;
    }
}

@media only screen and (max-width: 426px) and (min-width: 375px){
    .certificatesView .filePdfView .react-pdf__Page .react-pdf__Page__canvas {
        width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
    }

    .certificatesView {
        background-color: transparent;
    }
    
    .headerView h1 {
        font-size: 25px;
    }
    .goBack_title .goBack {
        padding: 5px;
    }

    .certificatesView .control button {
        height: 50px;
        
    }

    .contentViewPdf {
        padding: 20px;
    }
    #goBackTooltip, #criteriaTooltip, #downloadTooltip{
        display: none;
    }
}

.modalTitle {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.modalTitle p {
    font-size: 12px;
}

.TeamD_mdl_hdr {
    align-items: flex-start !important;
    height: 120px !important;
}

@media only screen and (max-width: 376px){
    .certificatesView .filePdfView .react-pdf__Page .react-pdf__Page__canvas {
        width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
    }
    .certificatesView .control_top button {
        padding: 8px;
        font-size: 20px;
    }

    .certificatesView .control button {
        font-size: 12px;
        
    }

    .headerView h1 {
        font-size: 20px;
    }
    .goBack_title .goBack {
        padding: 2px;
    }

    .certificatesView .control button {
        height: 50px;
        width: 75px;
        
    }

    .certificatesView .control {
        gap: 25px;
    }
    .certificatesView {
        background-color: transparent;
    }
    .contentViewPdf {
        padding: 20px;
    }
    #goBackTooltip, #criteriaTooltip, #downloadTooltip{
        display: none;
    }
}

@media only screen and (max-width: 321px){
    .contentViewPdf {
        padding: 20px;
    }
    .certificatesView .filePdfView .react-pdf__Page .react-pdf__Page__canvas {
        width: 100% !important;
        height: auto !important;
        max-width: 100% !important;
        max-height: 100% !important;
    }
    .certificatesView .control_top button {
        padding: 8px;
        font-size: 20px;
    }

    .certificatesView .control {
        align-items: center;
        justify-content: center;
    }
    .certificatesView .control button {
        font-size: 11px;
        
    }

    .headerView h1 {
        font-size: 18px;
    }

    .goBack_title {
        gap: 20px;
    }
    .certificatesView .control button {
        height: 35px;
        width: 75px;  
    }

    .certificatesView .control {
        gap: 5px;
    }
    .certificatesView {
        background-color: transparent;
    }
    #goBackTooltip, #criteriaTooltip, #downloadTooltip{
        display: none;
    }
}